<a href="https://colab.research.google.com/github/fabricecordelieres/Python_SR-Nearest-Neighbour-Notebooks/blob/main/Nearest_neighbour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nearest neighbour Notebook**
---
_This notebook takes as an input a file containing coordinates and computes the distance to the nearest neighbour_

## **Data organization**

-_Input files are in csv format, with the at least columns named Barycenter X (pix) and Barycenter Y (pix)_

## **How to run this script**

1.   Have all you data ready on the Google Drive
2.   Run all the steps: Run/Run all
  1. Step 1 only is interactive: it will require that acces is given by the Google Drive to the script. Simply follow the procedure explained at Step 1.1
  2. Step 1.2 is also interactive: give the path to your file then run the cell.
3. At the end of the script, a file is created in the same folder as the source data.

#**Step 1: Preparing the analysis, setting up some tools**

In [67]:
#@markdown ## **_Step 1.1: Mount Google Drive_**
#@markdown 1. Execute the following cell
#@markdown 2. In the popup up window, accept to give access to your Google drive
#@markdown 3. Finally, come back to this page

from google.colab import drive
from google.colab import drive
import os
import pandas as pd
import math

drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [68]:
#@markdown ## **_Step 1.2: Define the input file_**
#@markdown 1. Go to the left side, click on the folder icon
#@markdown 2. Find the file to analyze
#@markdown 3. On the file, right-click on dots
#@markdown 4. Click to copy the path
#@markdown 5. Paste it to the data_path field

data_path = "/content/gdrive/MyDrive/1_facteur_0.7baricenter.txt" #@param {type:"string"}
basename=os.path.basename(data_path).replace(".txt", "")
path=os.path.dirname(data_path)+os.path.sep

# **Step 2: Define some classes to handle the data**
_Simply execute all cells_

In [69]:
data=pd.read_csv(data_path, delimiter=',')


#-------------------------------------------------------------------------------
def nearest_neighbour(data):
  x=data['Barycenter X (pix)'].values.tolist()
  y=data['Barycenter Y (pix)'].values.tolist()

  output=[]

  for i in range(0, len(x)):
    closest_index=-1
    min_dist=float('inf')
    closest_x=-1
    closest_y=-1
    for j in range(0, len(x)):
      if(i!=j):
        curr_dist=get2D_Distance(x[i], y[i], x[j], y[j])
        if(min_dist>curr_dist):
          closest_index=j
          closest_x=x[j]
          closest_y=y[j]
          min_dist=curr_dist
    output.append([closest_index, closest_x, closest_y, min_dist])
  return pd.DataFrame(output, columns = ['Closest_index', 'Closest_X', 'Closest_Y', 'Min_distance'])

#-------------------------------------------------------------------------------
def get2D_Distance(x1, y1, x2, y2):
  return math.sqrt((x2-x1)*(x2-x1)+(y2-y1)*(y2-y1))


dist=nearest_neighbour(data)

out=data.join(dist)

out.to_csv(path+basename+'_with-NN.txt')
out

    Id dataset  Size (nm)  Area (nm?)  ...  Closest_X  Closest_Y  Min_distance
0            1    40.5080     554.168  ...   18288.60    6453.66    117.148158
1            1   124.1070    6238.280  ...   19143.50    7363.92    251.051763
2            1    78.9218    2727.300  ...    5399.77    7125.10    198.805093
3            1    81.4197    2778.200  ...    5310.37    7302.67    967.263380
4            1    42.4034     821.921  ...    5310.37    7302.67    198.805093
..         ...        ...         ...  ...        ...        ...           ...
66           1    41.9544     711.650  ...   20565.10   10292.30    375.124899
67           1    39.4095     523.786  ...   18288.60    6453.66    490.050962
68           1    43.7587    1040.460  ...   15331.20    4724.56    625.053824
69           1    43.8832     753.165  ...   17457.90    5688.64    419.446878
70           1    39.9475     452.999  ...   15331.20    4724.56    970.000160

[71 rows x 9 columns]